[init]
	defaultBranch = main
[user]
	name = Julian Ooi
	email = julianooi@gmail.com
[core]
	pager = less -FRSX
[push]
	autoSetupRemote = true
[url "git@rtx.bitbucket.org:zumata_scripts"]
  insteadOf = https://bitbucket.org/zumata_scripts
[url "git@tritbit.bitbucket.org:tritbit"]
  insteadOf = https://bitbucket.org/tritbit
[url "git@github.com:"]
  insteadOf = https://github.com/
[safe]
	directory = /opt/flutter
[merge]
	tool = nvimdiff2
[remote "origin"]
	fetch = +refs/heads/*:refs/remotes/origin/*
