[init]
	defaultBranch = main
[user]
	name = Julian Ooi
	email = julianooi@gmail.com
[core]
	pager = less -FRSX
[push]
	autoSetupRemote = true
[url "git@rtx.bitbucket.org:zumata_scripts"]
  insteadOf = "https://bitbucket.org/zumata_scripts"
[url "git@github.com:"]
  insteadOf = "https://github.com/"
[safe]
	directory = /opt/flutter
